



<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Extra Bullet Controller </title>
    <!-- <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




</head>

<body >
  <div class="grid">
    <div class="column">
      <div class="card " data-card="1">
        <div class="card-header">
          <p class="username"> y***l </p>
          <p class="stars"><i class="star-gold fa fa-star "></i><i class="fa fa-star star-gold"></i><i class="fa fa-star star-gold"></i><i class="fa fa-star star-gold"></i><i class="fa fa-star star-gold"></i> </p>
        </div>
        <div class="card-body">
          <h1 class="comment">Funktioniert und ist gut Verarbeitet. Sehr empfehlenswert
          </h1>
          <p class="source-hint">Veröffentlich auf</p>
          <div class="source-icon"><i class="fab fa-ebay"></i></div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card " data-card="2">

        <div class="card-header">
          <p class="username"> c***h </p>
          <p class="stars"><i class="star-gold fa fa-star "></i><i class="fa fa-star star-gold"></i><i class="fa fa-star star-gold"></i><i class="fa fa-star star-gold"></i><i class="fa fa-star star-gold"></i> </p>
        </div>
        <div class="card-body">
          <h1 class="comment small-comment">Bin sehr überrascht wie gut und wunderbar verarbeitet sich alles anfühlt, habe ich für den Preis ehrlich gesagt nicht erwartet. Paddles haben eine sehr angenehme Position und eine guten Druckpunkt, genau wie die Triggerstops sich sehr gut anfühlen. Freue mich auf zukünftige Session mit meinem neuen Liebling :)Super nett und hilfsbereit!👍🏻 
          </h1>
          <p class="source-hint">Veröffentlich auf</p>
          <div class="source-icon"><i class="fab fa-ebay"></i></div>
        </div>
      </div>
    </div>
    <div class="column">
      
    <div class="card " data-card="3">
      <div class="card-header">
        <p class="username"> r***m </p>
        <p class="stars"><i class="star-gold fa fa-star "></i><i class="fa fa-star star-gold"></i><i class="fa fa-star star-gold"></i><i class="fa fa-star star-gold"></i><i class="fa fa-star star-gold"></i> </p>
       

      </div>
      <div class="card-body">
        <h1 class="comment">Super nett und hilfsbereit!👍🏻 
        </h1>
        <p class="source-hint">Veröffentlich auf</p>
        <div class="source-icon"><i class="fab fa-ebay"></i></div>
      </div>
    </div>
    </div>
   
  </div>
   

 




    <!-- <div class="card " data-card="4">
      <div class="card-header">
        <p class="username"> 5***5 </p>
        <p class="stars"><i class="star-gold fa fa-star "></i><i class="fa fa-star star-gold"></i><i class="fa fa-star star-gold"></i><i class="fa fa-star star-gold"></i><i class="fa fa-star star-gold"></i> </p>
       

      </div>
      <div class="card-body">
        <h1 class="comment">Sehr professioneller Umbau. Top
        </h1>
        <p class="source-hint">Veröffentlich auf</p>
        <div class="source-icon"><i class="fab fa-ebay"></i></div>
      </div>
    </div>
  </div> -->

</body>

</html>