<div class="card">

        <div class="card-header">
          <p class="username"> a***o </p>
          <p class="stars"><i class="star-gold fa fa-star "></i><i class="fa fa-star star-gold"></i><i class="fa fa-star star-gold"></i><i class="fa fa-star star-gold"></i><i class="fa fa-star star-gold"></i> </p>
         

        </div>
        <div class="card-body">
          <h1 class="comment">Funktionier und ist gut Verarbeitet. Sehr empfehlenswert
          </h1>
          <p class="source-hint">Veröffentlich auf</p>
          <div class="source-icon"><i class="fab fa-ebay"></i></div>
        </div>
  
      </div>