@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";


* {
    padding: 0;
    margin: 0;
  }

  html,body
  {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
  }
  

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
    align-items: center;
  }



  .fill-purple
  {
    background-image: linear-gradient(90deg, #4addff, #a34dfe);
  }
  
  .fill-green
  {
    background-image: linear-gradient(90deg, #ffe40c, #33d497);
  }
  
  .fill-blue
  {
    background-image: linear-gradient(90deg, #285ca5, #18d5ff);
  }
  
  .fill-orange
  {
    background-image: linear-gradient(90deg, #fcf595, #ff954d);
  }
  
  .cards
  {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position: relative;
    height:21.875rem;
    width:100%;
  }
  
  .card
  {
    width:27.8125rem;
    transform-origin:center center;
    transform:scale(1) translate(0px,0px) perspective( 750px ) rotateY(0deg);
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    transition-duration: 0.5s;
    position:absolute;
    top:0;
    box-shadow:0 30px 50px rgba(0,0,0,0.1);
    z-index:3;
    cursor: pointer;
    overflow:hidden;
  }
  

  .card--left-preview
  {
    transform: scale(0.65) translate(-604px,0px) perspective( 950px ) rotateY(35deg);
    z-index: 0;
  }
  .card--left
  {
    transform:scale(0.75) translate(-335px,0px) perspective( 750px ) rotateY(10deg);
    box-shadow:0 15px 25px rgba(0,0,0,0.1);
    z-index:1;
  }
  
  .card--center
  {
    transform:scale(1) translate(0px, 0px) perspective( 750px ) rotateY(0deg);
    box-shadow:0 30px 50px rgba(0,0,0,0.1);
    z-index:3;
  }
  
  .card--right
  {
    transform:scale(0.75) translate(335px,0px) perspective( 750px ) rotateY(-10deg);
    box-shadow:0 15px 25px rgba(0,0,0,0.1);
    z-index:1;
  }
  .card--right-preview
  {
    transform:scale(0.65) translate(604px,0px) perspective( 950px ) rotateY(-35deg);
    box-shadow:0 15px 25px rgba(0,0,0,0.1);
    z-index:0;
  }

  


  
  @media only screen and (max-width : 736px)
  {
    .cards
    {
    
      margin:auto 0;
    }
  
    .card
    {

      width:90%;
    }
  
    /* .card--left-preview
    {
      transform:scale(0.75) translate(0px, -250px) perspective(750px) rotateY(0) rotateX(-20deg) translateZ(-10px);
    } */
    .card--left
    {
      transform:scale(0.75) translate(0px, -150px) perspective(750px) rotateY(0) rotateX(-10deg) translateZ(-5px);
    }
  
    .card--center
    {
      
      transform:scale(0.9) translate(0px, 0px) perspective( 750px ) rotateY(0deg)  rotateX(0deg) translateZ(5px);
    }
  
    .card--right
    {
      transform:scale(0.75) translate(0px, 150px) perspective(750px) rotateY(0) rotateX(10deg) translateZ(-5px);
    }

    /* .card--right-preview
    {
      transform:scale(0.75) translate(0px, 250px) perspective(750px) rotateY(0) rotateX(20deg) translateZ(-20px);
    } */
  
    .card__icon:before
    {
      transform:scale(0.75);
    }
  }


  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    height: 380px;
    background-color: #fff;
    border: 10px solid #346B9D;
    border-radius: 1rem;
  }


  /* .card:hover {
    z-index: 100;
    transform:scale(1) translate(0px, 0px) perspective( 750px ) rotateY(0deg)  rotateX(0deg) translateZ(5px);

  } */
  .card-header{
    padding-left: 50px;
  }
  .card-body{
    padding-left: 50px;
  }

  .username{
    padding-top: 5px;
    font-size: 25px;
    color: #052A4E;
  }

  .stars{

    font-size: 2em;
  }

  .star-gold{
    padding-top: 9px;
    
    color: #9D7D34;
    padding-right: 6px;
  }
  
  .star-gold:not(:first-of-type){
    padding-left: 6px;
  }
  
  .comment{
    color: #052A4E;

  }

  .small-comment{
    font-size: 17px !important;
  }

  .source-icon{

    bottom: -15px;
    font-size: 8em;
    color: #052A4E;
  }

  .source-hint {

    color: #808FA7;
    font-size: 20px;
    bottom: 100px;
  }
  